<div *ngIf="showSpinner" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999;width: 100%;height: 100%;">
    <mat-spinner color="warn"></mat-spinner>
  </div>
<div class="p-30" *ngIf="this.data.name_tombol=='emailModal'">
           
    <div style="display: flex;width: 100%;justify-content: space-between;">
      <h3>Change Email</h3>
      <button mat-icon-button mat-dialog-close aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
      
    </div>
     
        
  
     <div style="display: flex;flex-direction: column;gap:10px;margin-top: 40px;height: 70%;justify-content: center;">
      <div>
        <H5 style="margin-bottom: 5px;">Old Email</H5>
        <div class="tagus-form-group without-icon">
                              
          <mat-form-field appearance="fill">
            
              <input matInput [value]="data.email">
          </mat-form-field>
      </div>
      </div>
      <div>
        <H5 style="margin-bottom: 5px;">New Email</H5>
        <div class="tagus-form-group without-icon">
                              
          <mat-form-field appearance="fill">
            
            <input matInput name="email" #emailInput="ngModel" [(ngModel)]="newemail" placeholder="New Email" required email>
           
          </mat-form-field>
          <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            Email is required and must be a valid email address.
          </mat-error>
      </div>
     
      </div>
     </div>
      
            
         
        <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
          <div style="display: flex;gap: 5px;">
  
            <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
            <button mat-raised-button [disabled]="emailInput.invalid"  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="modalSave()">Update</button>
          </div>
        </div>
  </div>



  <div class="p-30" *ngIf="this.data.name_tombol=='UploadConfirm'">
    <div style="display: flex;width: 100%;justify-content: space-between;">
      <h3 *ngIf="this.data.docCode=='CL'">Upload Confirmation Letter</h3>
      <h3 *ngIf="this.data.docCode=='PPPU'">Upload P3U</h3>
      <h3 *ngIf="this.data.docCode=='OLN2'">Upload OL & Akad</h3>
      <button mat-icon-button mat-dialog-close aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div >
      
  <fieldset>
    <legend>Data Document</legend>
     <!-- <h3 style=" padding-left: 30px;" mat-dialog-title>Data Document</h3> -->
      
      <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 10px;">
        <div style="display: flex;flex: 3;"><p style="color: #212529;">Document Type</p></div>
        
        <div  style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docCode}} - {{this.data.docName}}</p></div>
      </div>
      <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 5px;">
        <div style="display: flex;flex: 3;"><p style="color: #212529;">Refer Document No</p></div>
        
        <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docNo}}</p></div>
      </div>
      <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
        <div style="display: flex;flex: 3;"><p style="color: #212529;">Book Code</p></div>
        
        <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.bookCode}}</div>
      </div>
      <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
        <div style="display: flex;flex: 3;"><p style="color: #212529;">Unit Code/Unit No</p></div>
        
        <div style="display: flex;flex: 5;"><p style="color: #212529;">{{data.unitCode}}/{{data.unitNo}}</p></div>
      </div>
      <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
        <div style="display: flex;flex: 3;"><p style="color: #212529;">Customer Name</p></div>
        
        <div style="display: flex;flex: 5;"><p style="color: #212529;">
          {{this.data.customerName}}</p></div>
      </div>
  </fieldset>
  <div>
    <!-- (ngSubmit)="onSubmit()" -->
    <form [formGroup]="form" >
      <div style="display: flex; flex-direction: column; gap: 10px;">
        
        
        <!-- <div class="tagus-form-group">
          <mat-label>Upload Signed Document</mat-label>
          <input matInput type="file" (change)="onFileSelected($event)"  formControlName="uploadSignatureAMDT"> -->
          <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
        <!-- </div> -->
        
        <div >
          <p style="color: #212529;">Signed Document Date<span style="color: red;">*</span></p>
        </div>
        <div class="tagus-form-group">
        
          <mat-form-field appearance="fill" class="date-input">
            <mat-label>MM/DD/YYYY</mat-label>
            <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [opened]="picker.opened"></mat-datepicker>
          </mat-form-field>
          
          <div *ngIf="dateControl?.invalid && (dateControl?.dirty || dateControl?.touched)" style="color: red;">Date is required</div>
          <!-- <div *ngIf="form.get('date')?.invalid && (form.get('date')?.dirty || form.get('date')?.touched)" style="color: red;">Date is required</div> -->
        </div>
      </div>
      <div style="height: 100%; display: flex; align-items: center;">
        <p style="color: #212529;">Upload Signed Document<span style="color: red;">*</span></p>
      </div>
        <div class="tagus-form-group" style="padding-top: 10px;padding-bottom: 10px;">
          <!-- <input type="file" formControlName="file" > -->
          <input type="file" #fileInput (change)="onFileSelecteds($event,fileInput)" formControlName="file">
          <div *ngIf="fileControl?.invalid && (fileControl?.dirty || fileControl?.touched)" style="color: red;">File is required</div>
          <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
        </div>
      <div style="display: flex;justify-content: end;">
  
  
      
      </div>
    </form>
  
  <div style="display: flex;justify-content: end;">
  
    <button mat-raised-button (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;">Close</button>
    <button style="background-color: #f4516c !important; color:white !important;margin-left: 10px;"  [disabled]="form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Upload</button>
  </div>
  </div>