<div
    class="h-100vh pt-50 pb-50"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
>
<div style="position: relative; height: 100%;">
    <div *ngIf="showSpinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; ">
        <mat-spinner></mat-spinner>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="logout-box text-center bg-white border-radius ms-auto me-auto">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="logo">
                </div>
                <div class="logo white-logo">
                    <img src="assets/img/white-logo.png" alt="logo">
                </div>
                <img src="assets/img/icon/coffee.png" alt="coffee">
                <h5 class="fw-semibold mb-12">You are Logged Out</h5>
                <p>Thank you for using <span class="fw-semibold">Admash</span> admin template</p>
                <a (click)="logout()" mat-flat-button class="tagus d-block fw-semibold">Sign In</a>
            </div>
        </div>
    </div>
</div>
</div>