<div style="display: flex;">

    <div
    style="z-index: 0;flex: 2;"
    class="h-100vh pt-50 pb-50"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>

<div style="position: relative; height: 100%;">
    <div *ngIf="showSpinner || dataReady" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; ">
        <mat-spinner color="warn"></mat-spinner>
    </div>

    <div class="d-table">
        
        <div class="d-table-cell">
            <div class="tagus-form ms-auto me-auto">
                <div class="title">
                    <div class="d-flex mb-10 align-items-center">
                        <!-- <h2 class="mb-0 me-30">Get Started</h2> -->
                        <img src="assets/img/cards/app-logo-on-light.png" alt="logo-icon">
                    </div>
                    <p>Don’t have an account? <a routerLink="/authentication/register" class="main-color fw-medium" style="color:#e72937 !important">Register now!</a></p>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="buttonLogin()">
                    <!-- <div class="login-with-socials d-md-flex align-items-center justify-content-space-between">
                        <button mat-flat-button class="gray fw-semibold d-block me-5"><img src="assets/img/icon/google.png" alt="google"> Login with Google</button>
                        <button style="background-color: #e72937 !important;" mat-flat-button class="tagus fw-semibold d-block ms-5"><img src="assets/img/icon/facebook.png" alt="facebook" > Login with Facebook</button>
                    </div>
                    <div class="or text-center position-relative">
                        <span class="fw-semibold fs-16">or</span>
                    </div> -->
                    <div class="bg-white border-radius pt-20 ps-20 pe-20">
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Email Address <span>*</span></label>
                            <mat-form-field  appearance="fill">
                                <mat-label >Enter email address</mat-label>
                                <!-- <input matInput > -->
                                <input matInput type="text" placeholder="Username" formControlName="userNameOrEmailAddress">
                            </mat-form-field>
                        </div>
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Password <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <!-- <input matInput [type]="hide ? 'password' : 'text'"> -->
                                <input matInput type="password" placeholder="Password" formControlName="password">
                                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex info align-items-center justify-content-space-between">
                        <mat-checkbox class="gray-color">Remember me</mat-checkbox>
                        <a routerLink="/authentication/forgot-password" class="d-inline-block main-color fw-medium" style="color:#e72937 !important">Forgot your password?</a>
                    </div>
                    <div style="width: 100%; display: flex;justify-content: center;">

                        <button  style="background-color: #e72937 !important; width: 50% !important;border-radius: 50px !important;" mat-flat-button  class="tagus d-block fw-semibold">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div style="height: 100vh;width: 100%; flex: 3; background-image: url(assets/img/cards/card10.jpg); background-position: center;background-size: cover; display: flex;justify-content: start;align-items: center;">
    <div style="display: flex;flex-direction: column;margin-left: 10rem;">
        <p style="color:white;font-size: 50px;" >Sales Web</p>
        <p style="color:white;font-weight: 30px;">It will show you the available units and you may book unit(s) directly <br>through this feature.</p>
    </div>
    </div>
</div>