@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #adacac;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #2d5494;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #2d5494;
    cursor: pointer;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


.custom-button {
    display: inline-block;
    padding: 5px 10px;
    padding-top: 9px;
    border: none;
    border-radius: 5px;
    background-color: #757fef; /* Warna tombol saat belum terverifikasi */
    color: white;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .custom-button.disabled {
    opacity: 0.65;
    pointer-events: none; /* Tombol tidak dapat diklik saat terverifikasi */
  }
  
  .custom-button input[type="file"] {
    display: none;
  }
  fieldset {
    border: 2px solid black; /* Atur border dengan ketebalan dan warna yang diinginkan */
    border-radius: 10px; /* Atur radius sudut sesuai keinginan */
    padding: 20px;
    margin: 20px 0;
  }
  legend {
    padding: 0 10px;
    font-weight: bold;
  }

  .confirm-button-class {
    order: 2; /* mengatur urutan tampilan tombol */
  }
  
  .cancel-button-class {
    order: 1; /* mengatur urutan tampilan tombol */
    margin-right: 50px;
  }
  