
<div *ngIf="showSpinner" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999;width: 100%;height: 100%;">
  <mat-spinner color="warn"></mat-spinner>
</div>
<div *ngIf="showSpinner2" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999;width: 100%;height: 100%;">
  <mat-spinner color="warn"></mat-spinner>
</div>
<div class="p-30" *ngIf="this.data.name_button=='historyViewDocumentModal'">
  
<div style="display: flex;width: 100%;justify-content: space-between;">
  <h3>History View Documentt</h3>
  <button mat-icon-button mat-dialog-close aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>
    <h3 mat-dialog-title>List of viewer document for this unit</h3>
    
    <div style="display: flex; flex-direction:column;padding-left:23px;gap:100px;" >
        <!-- Display individual document data here -->
        <div style="display: flex;justify-content:space-between;">
          <div style="flex: 7;">
            <div style="display: flex;flex-direction: column;">
              <p style="margin-bottom: 10px;text-transform: uppercase !important;font-weight: 500;font-family: Verdana;font-size: 14px;color:#212529;">{{ document.documentName  }}</p>
             
              <div style="margin-bottom: 40px;">
                <div class="container">
                  <div class="row">
                    <div class="col" style="width: 400px !important;">
                      <table class="table table-striped" style="width:  400px !important; ">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Date & Time</th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr  *ngFor="let document of documento; let i = index">
                            <td style="padding-left: 39px;">{{ document.userName }}</td>
                            <td style="padding-left: 75px;">{{ document.viewTime | date: 'dd MMM yyyy, HH:mm:ss' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- <p style="font-weight: bold !important; padding-top: 5px;padding-bottom: 8px;
                line-height: 0 !important;color: #f4516c !important;font-style:italic;" *ngIf="document.documentName==='KARTU KELUARGA'||document.documentName==='KTP'||document.documentName==='REKENING KORAN/BUKU TABUNGAN'||document.documentName==='NPWP'||document.documentName==='KP / PJPKK'||document.documentName==='SURAT PERNYATAAN KREDIT'">(Mandatory)</p>
                <p style="font-size: x-small;color:#7b7e8a;">Created at : {{document.creationTime | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                <p style="font-size: x-small;color:#7b7e8a;">Modified at : {{document.lastModificationTime | date: 'dd/MM/yyyy HH:mm:ss'}}</p> -->
              </div>

              
            
            </div>
          
          </div>
          <div style="flex: 8;display: flex;gap: 4px;justify-content: end;text-align: center;">

            <!-- <button mat-flat-button class="tagus"  style=" height: 40px !important; height: 40px !important; margin-top: 10px;  background-color: #5867dd; -->
    <!-- min-height: 40px;padding: 9px 20px !important;padding-top: 12px !important; " [disabled]="!document.isUploaded" (click)="getDocumentKPRFile(document.psCode,data.bookingId,document.documentType, document.priorityPassId)"><p style="margin-top:-6px;color:white;"   >View</p></button>
                                                                                                      
    <label class="custom-button" mat-raised-button   
    [style.pointer-events]="document.isVerified ? 'none' : 'auto'" [style.opacity]="document.isVerified ? '.65' : 'inherit'">
    Browse File
    <input type="file" name="file-{{document.documentType}}" id="file-{{i}}" class="form-control m-input m-input--air" 
      (change)="uploadFile($event, document, i)" [accept]="'image/png, image/jpeg, image/jpg, application/pdf'" 
      style="display: none !important">
  </label> -->

  <!-- <label class="custom-button" [class.disabled]="document.isVerified">
    <span *ngIf="!document.isVerified">Browse File</span>
    <span *ngIf="document.isVerified">File Uploaded</span>
    <input type="file" name="file-{{document.documentType}}" id="file-{{i}}" class="form-control m-input m-input--air" 
      (change)="uploadFile($event, document, i)" [accept]="'image/png, image/jpeg, image/jpg, application/pdf'">
  </label> -->
  
          </div>
        </div>
      </div>
      <!-- <div mat-dialog-actions style="width: 100%;display: flex;justify-content: end;">
        <button mat-button mat-dialog-close (click)="closeDialog()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer" style="background-color: rgb(221, 216, 216);">Close</button>
    </div> -->
</div>

<div class="p-30" *ngIf="this.data.name_button=='Uhuy'">
           
          <div style="display: flex;width: 100%;justify-content: space-between;">
            <h3>Upload Document</h3>
            <button mat-icon-button mat-dialog-close aria-label="Close">
              <mat-icon>close</mat-icon>
            </button>
          </div>
              <h3 mat-dialog-title>List of documents that must be completed</h3>
              <div mat-dialog-content style="margin-bottom: 2rem;">
                <ul style="line-height: 1.2 !important;color: red; "  >
                  <li class="m-form__help text-danger">
                      <span>Please make sure the file you upload is clear and easy to read.</span>
                  </li>
                  <li class="m-form__help text-danger">
                      <span>Only upload file with extension .jpg/.jpeg/.pdf with exceed file size 5
                          MB</span>
                  </li>
              </ul>
            </div>
              <div style="display: flex; flex-direction:column;padding-left:23px;gap:100px;" *ngFor="let document of document; let i = index">
                  <!-- Display individual document data here -->
                  <div style="display: flex;justify-content:space-between;">
                    <div style="flex: 7;">
                      <div style="display: flex;flex-direction: column;">
                        <p style="margin-bottom: 10px;text-transform: uppercase !important;font-weight: 500;font-family: Verdana;font-size: 14px;color:#212529;">{{ document.documentName  }}</p>
                       
                        <div style="margin-bottom: 40px;">
                          <p style="font-weight: bold !important; padding-top: 5px;padding-bottom: 8px;
                          line-height: 0 !important;color: #f4516c !important;font-style:italic;" *ngIf="document.documentName==='KARTU KELUARGA'||document.documentName==='KTP'||document.documentName==='REKENING KORAN/BUKU TABUNGAN'||document.documentName==='NPWP'||document.documentName==='KP / PJPKK'||document.documentName==='SURAT PERNYATAAN KREDIT'">(Mandatory)</p>
                          <p style="font-size: x-small;color:#7b7e8a;">Created at : {{document.creationTime | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                          <p style="font-size: x-small;color:#7b7e8a;">Modified at : {{document.lastModificationTime | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                        </div>

                        
                      
                      </div>
                    
                    </div>
                    <div style="flex: 8;display: flex;gap: 4px;justify-content: end;text-align: center;">

                      <button mat-flat-button class="tagus"  style=" height: 40px !important; height: 40px !important; margin-top: 10px;  
              min-height: 40px;padding: 9px 20px !important;padding-top: 12px !important; " [disabled]="!document.isUploaded" (click)="getDocumentKPRFile(document.psCode,data.bookingId,document.documentType, document.priorityPassId)"><p style="margin-top:-6px;color:white;"   >View</p></button>
                                                                                                                
              <label class="custom-button" mat-raised-button   
              [style.pointer-events]="document.isVerified ? 'none' : 'auto'" [style.opacity]="document.isVerified ? '.65' : 'inherit'">
              Browse File
              <input type="file" name="file-{{document.documentType}}" id="file-{{i}}" class="form-control m-input m-input--air" 
                (change)="uploadFile($event, document, i)" [accept]="'image/png, image/jpeg, image/jpg, application/pdf'" 
                style="display: none !important">
            </label>

            <!-- <label class="custom-button" [class.disabled]="document.isVerified">
              <span *ngIf="!document.isVerified">Browse File</span>
              <span *ngIf="document.isVerified">File Uploaded</span>
              <input type="file" name="file-{{document.documentType}}" id="file-{{i}}" class="form-control m-input m-input--air" 
                (change)="uploadFile($event, document, i)" [accept]="'image/png, image/jpeg, image/jpg, application/pdf'">
            </label> -->
            
                    </div>
                  </div>
                </div>
                <div mat-dialog-actions style="width: 100%;display: flex;justify-content: end;">
                  <button mat-button mat-dialog-close (click)="closeDialog()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer" style="background-color: rgb(207, 42, 42);">Close</button>
              </div>
</div>
<div class="p-30" *ngIf="this.data.name_button=='Comm'">
      <div class="container p-30">
        <h4 style="margin-bottom: 2em;">Detail Payment History For Commision</h4 >
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <!-- Konten untuk kolom pertama -->
                <div class="example-box" style="display: flex;">
                  <div style="flex:5">
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Unit Code</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Unit No</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Customer Name</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Sales Name</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Term Of Payment</p>
                        <p>:</p>
                    </div>
                  </div>
                    <div style="flex:5; padding-left:10px">
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; ">{{listComission.unitCode}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">{{listComission.unitNo}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">{{listComission.custName}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">{{listComission.salesName}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">{{listComission.termRemarks}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                
                
                  </div>
                </div>
              </div>
              <div class="col-6">
                <!-- Konten untuk kolom kedua -->
                <div class="example-box" style="display: flex;">
                  <div style="flex:5">
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Unit Price</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Customer Payment</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Eligible Commission</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Eligible Commission Paid</p>
                        <p>:</p>
                    </div>
                    <div style="display: flex;justify-content:space-between">

                        <p style="width:100%; background-color:white;">Commission Overdue</p>
                        <p>:</p>
                    </div>
                  </div>
                    <div style="flex:5; padding-left:10px">
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; ">Rp. {{listComission.unitPriceString}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">Rp. {{listComission.ammountPaidString}} ({{listComission.ammountPercentage}})</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">Rp. {{listComission.eligableCommisionString}} ({{listComission.eligableCommisionPercentage}})</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">Rp. {{listComission.eligableCommisionPaidString}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                      <div style="display: flex;justify-content:space-between">

                            <p style="width:100%; background-color:transparent;">Rp. {{listComission.commisionOverdueString}}</p>
                            <p style="color: transparent;">:</p>
                      </div>
                
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 30px;" class="header_fixed">
        <table>
            <thead>
                <tr>
                
                    <th>Custumer Name</th>
                    <th>Eligibility Condition</th>
                    <th>Commission %</th>
                    <th>Commission Due</th>
                    <th>Commission Paid</th>
                </tr>
            </thead>
          
            <tbody>
                <!-- <tr>
                
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> -->
                
                <!-- <tr>
                
                    <td></td>
                    <td>Total</td>
                    <td></td>
                    <td>Rp.</td>
                    <td>Rp.</td>
                </tr> -->
                
            </tbody>
        </table>
        <table>
          <thead >
              <tr>
              
                <th style="background-color: white !important;color:transparent;">Custumer Name</th>
                <th style="background-color: white !important;color: #212529;">Commision Booking Fee</th>
                <th style="background-color: white !important;color:transparent;">Commission %</th>
                <th style="background-color: white !important;color:transparent;border-left: #dddddd solid 1px;">Commission Due</th>
                <th style="background-color: white !important;color:transparent;">Commission Paid</th>
                 
              </tr>
          </thead>
        
          <tbody>
              <tr *ngFor="let item of listComissiondataBookingFee">
              
                  <td></td>
                  <td></td>
                  <td>Rp.{{item.amountString}}</td>
                  <td>Rp.{{item.totalByReq}}</td>
                  <td>Rp.{{item.commisionPaid}}</td>
              </tr>
              
           
              
          </tbody>
      </table>
      <table>
        <thead >
            <tr>
            
              <th style="background-color: #dddddd !important;color:transparent;width: 200px;">Custumer Name</th>
              <th style="background-color: #dddddd !important;color: #212529;">Total</th>
              <th style="background-color: #dddddd !important;color:transparent;width: 175px;">Commission %</th>
              <th style="background-color: #dddddd !important;color:transparent;color: #212529;text-align: start;">Rp.</th>
              <th style="background-color: #dddddd !important;color: #212529;text-align: start;">Rp.</th>
               
            </tr>
        </thead>
      
        <!-- <tbody>
            <tr>
            
                <td>{{listComission.ammountPercentage}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>View</td>
            </tr>
            
            <tr>
            
                <td></td>
                <td>Total</td>
                <td></td>
                <td>Rp.</td>
                <td>Rp.</td>
            </tr>
            
        </tbody> -->
    </table>
    </div>
      </div>
    <!-- <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="closeDialog()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer">Close</button>
    </div> -->
    <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
      <div style="display: flex;gap: 5px;width: 255px;">

        <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
        <button mat-raised-button  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="print()">Print</button>
      </div>
    </div>
    
</div>


<div class="p-30" *ngIf="this.data.name_button=='Pay'">
  <h3 mat-dialog-title>Amount to be Paid</h3>
  <p mat-dialog-content>Total Outstanding Payment.</p>
  
    <div  
        style="border: 1px solid #ebedf2;box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.08);background-image: linear-gradient(to right, #e2e5ec, #f7f8fa);background-image: linear-gradient(to right, #e2e5ec, #f7f8fa);overflow-wrap: break-word;display: flex;padding: 10px;margin-bottom: 50px;">
        <strong style="letter-spacing: 5px;font-weight: 700;">
          {{data.amount | currency:'Rp. ':true:'0.0-0'}}
      </strong>
    </div>
   
    <p mat-dialog-content>Please choose one for your Payment Method.</p>
    <!-- posisis -->
    <div class="container">
      <div>
        <div class="col-12" >
          
          <div style="display: flex; width: 400px;">
            <div style="display: flex;flex-direction: row;gap:80px">

              <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">

                  <mat-radio-button (change)="onPaymentMethodChange($event)" value="3"></mat-radio-button>
                  
                  
                  <img  style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/visamastercard.png">
                </div>
                  
              </div>
              <!-- <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">
                  <mat-radio-button (change)="onPaymentMethodChange($event)" value="10"></mat-radio-button>
                  <img style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/bcaklikpay.png">
                </div>
                
              </div>
            </div>
              
        
            <div style="display: flex;flex-direction: column;margin-left: 80px;">

              <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">
                  <mat-radio-button (change)="onPaymentMethodChange($event)" value="11"></mat-radio-button>
                  <img  style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/cimbclicls.png">
                </div>
                
              </div> -->
              
              <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">
                  <mat-radio-button  (change)="onPaymentMethodChange($event)" value="22"></mat-radio-button>
                  <img  style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/banktransfer.png">
                </div>
                
                
                
              </div>
              <!-- <div>-{{favoriteSeason}}</div> -->
            </div>
          </div>

              
        </div>
      </div>
    </div>
     <!-- posisis -->
    <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
      <div style="display: flex;gap: 5px;">

        <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
        <button mat-raised-button [disabled]="!isPaymentSelected"  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="save2()">Pay</button>
      </div>
    </div>
    
  <!-- <div mat-dialog-actions>
    
      <button mat-button mat-dialog-close (click)="closeDialog()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer">Close</button>
      <button mat-button mat-dialog-close (click)="save()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer">Pay</button>
  </div> -->
</div>

<div class="p-30" *ngIf="this.data.name_button=='printol'">
  <h3 mat-dialog-title>Print OL & Akad </h3>
  <!-- <p mat-dialog-content>Total Outstanding Payment.</p> -->
  
    <div  
        style="border: 1px solid #ebedf2;box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.08);background-image: linear-gradient(to right, #e2e5ec, #f7f8fa);background-image: linear-gradient(to right, #e2e5ec, #f7f8fa);overflow-wrap: break-word;display: flex;padding: 10px;">
        <strong style="letter-spacing: 5px;font-weight: 700;">
          Rp.{{dataprintolrupiah.plafond }}
      </strong>
    </div>
    <h3 mat-dialog-title  >Tenor</h3>
    <!-- <p mat-dialog-content>Please choose one for your Payment Method.</p> -->
    <!-- posisis -->
    <div class="tagus-form-group without-icon" style="display: flex;">
      <div style=" flex: 6;"> <!-- Menyesuaikan nilai flex -->
        <mat-form-field appearance="fill">
          <input matInput matInput 
          [(ngModel)]="dataprintol.tenor" 
          name="tenor" 
          #tenor="ngModel" 
          required>
          <mat-error *ngIf="tenor.invalid && (tenor.dirty || tenor.touched)">
            Tenor is required
          </mat-error>
        </mat-form-field>
      </div>                      
      <div style=" flex: 1; display: flex;align-items: center;">
      
      <div style="background-color: #c5bbbc;
      margin-top: -20px;
      height: 59px;
      width: 73px;
      border-radius: 8px;"><p style=" display: flex;
      justify-content: center; 
      align-items: center;    padding-top: 15px;">Bulan</p></div>
      </div> <!-- Nilai flex disesuaikan -->
    </div>
    
  <div style="display: flex;gap:50px;">
    <div style="width: 50%;">

      <h3 mat-dialog-title  >Suku Bunga</h3>
      <div class="tagus-form-group without-icon"style="display: flex;">
        
        <mat-form-field appearance="fill">
          
          <input matInput [value]="dataprintol.sukuBunga" matInput 
          [(ngModel)]="dataprintol.sukuBunga" 
          name="sukuBunga" 
          #sukuBunga="ngModel" 
          required>
          <mat-error *ngIf="sukuBunga.invalid && (sukuBunga.dirty || sukuBunga.touched)">
            Suku Bunga is required
          </mat-error>
        </mat-form-field>
        <div style=" flex: 1; display: flex;align-items: center;">
      
          <div style="background-color: #c5bbbc;
          margin-top: -20px;
          height: 59px;
          width: 60px;
          border-radius: 8px;"><p style=" display: flex;
          justify-content: center; 
          align-items: center;    padding-top: 15px;">%</p></div>
          </div> <!-- Nilai flex disesuaikan -->
    
      </div>
    </div>
    <div style="width: 40%;">

      <h3 mat-dialog-title  >Tahun</h3>
      <div class="tagus-form-group without-icon">
        
        <mat-form-field appearance="fill">
          
          <input matInput [value]="dataprintol.tahun" matInput 
          [(ngModel)]="dataprintol.tahun" 
          name="tahun" 
          #tahun="ngModel" 
          required>
          <mat-error *ngIf="tahun.invalid && (tahun.dirty || tahun.touched)">
            Tahun is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
     <!-- posisis -->
    <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
      <div style="display: flex;gap: 5px;">

        <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
        <!-- <button mat-raised-button [disabled]="!isPaymentSelected"  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="save()">Regenerate</button> -->
        <button mat-raised-button 
        style="background-color: #f4516c !important; color:white !important;" 
        color="warn" 
        (click)="save()"
        [disabled]="(tenor.invalid && (tenor.dirty || tenor.touched))||(sukuBunga.invalid && (sukuBunga.dirty || sukuBunga.touched))||(tahun.invalid && (tahun.dirty || tahun.touched))">Regenerate</button>

      </div>
    </div>
    
  <!-- <div mat-dialog-actions>
    
      <button mat-button mat-dialog-close (click)="closeDialog()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer">Close</button>
      <button mat-button mat-dialog-close (click)="save()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer">Pay</button>
  </div> -->
</div>
<div class="p-30" *ngIf="this.data.name_button=='Asem'&&documentdp!=0.0">
  <h3 mat-dialog-title>Amount to be Paid</h3>
  <p mat-dialog-content>Total Outstanding Payment.</p>
  
    <div  
        style="border: 1px solid #ebedf2;box-shadow: 0px 1px 15px 1px rgba(113, 106, 202, 0.08);background-image: linear-gradient(to right, #e2e5ec, #f7f8fa);background-image: linear-gradient(to right, #e2e5ec, #f7f8fa);overflow-wrap: break-word;display: flex;padding: 10px;">
        <strong style="letter-spacing: 5px;font-weight: 700;">
          {{documentdp | currency:'Rp. ':true:'0.0-0'}}
      </strong>
    </div>
    <h3 mat-dialog-title style="margin-top: 2em;" >Payment Method</h3>
    <p mat-dialog-content>Please choose one for your Payment Method.</p>
   
    
    



    <div class="container">
      <div>
        <div class="col-12" >
          
          <div style="display: flex; width: 400px;">
            <div style="display: flex;flex-direction: row;gap:80px">

              <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">

                  <mat-radio-button (change)="onPaymentMethodChange($event)" value="3"></mat-radio-button>
                  
                  
                  <img  style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/visamastercard.png">
                </div>
                  
              </div>
              <!-- <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">
                  <mat-radio-button (change)="onPaymentMethodChange($event)" value="10"></mat-radio-button>
                  <img style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/bcaklikpay.png">
                </div>
                
              </div>
            </div>
              
        
            <div style="display: flex;flex-direction: column;margin-left: 80px;">

              <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">
                  <mat-radio-button (change)="onPaymentMethodChange($event)" value="11"></mat-radio-button>
                  <img  style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/cimbclicls.png">
                </div>
                
              </div> -->
              
              <div class="col-3" style=" width: 100px;">
                <div style="display: flex;">
                  <mat-radio-button  (change)="onPaymentMethodChange($event)" value="22"></mat-radio-button>
                  <img  style="height:30px" width="100px"
                  src="../../../../../assets/img/cards/banktransfer.png">
                </div>
                
                
                
              </div>
              <!-- <div>-{{favoriteSeason}}</div> -->
            </div>
          </div>

              
        </div>
      </div>
    </div>
    <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
      <div style="display: flex;gap: 5px;">

        <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
        <button mat-raised-button [disabled]="!isPaymentSelected"  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="save2()">Pay</button>
      </div>
    </div>
</div>



<!-- <div class="p-30" *ngIf="this.data.name_button=='emailModal'">
           
  <div style="display: flex;width: 100%;justify-content: space-between;">
    <h3>Change Email</h3>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
    
  </div>
   
      

   <div style="display: flex;flex-direction: column;gap:10px;margin-top: 40px;height: 70%;justify-content: center;">
    <div>
      <H5 style="margin-bottom: 5px;">Old Email</H5>
      <div class="tagus-form-group without-icon">
                            
        <mat-form-field appearance="fill">
          
            <input matInput [value]="data.email">
        </mat-form-field>
    </div>
    </div>
    <div>
      <H5 style="margin-bottom: 5px;">New Email</H5>
      <div class="tagus-form-group without-icon">
                            
        <mat-form-field appearance="fill">
          
          <input matInput name="email" #emailInput="ngModel" [(ngModel)]="newemail" placeholder="New Email" required email>
         
        </mat-form-field>
        <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          Email is required and must be a valid email address.
        </mat-error>
    </div>
   
    </div>
   </div>
    
          
       
      <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
        <div style="display: flex;gap: 5px;">

          <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
          <button mat-raised-button [disabled]="emailInput.invalid"  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="modalSave()">Update</button>
        </div>
      </div>
</div> -->





<!-- <div class="p-30" *ngIf="this.data.name_button=='emailModal'">
           
  <div style="display: flex;width: 100%;justify-content: space-between;">
    <h3>Change Email</h3>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
    
  </div>
   
      

   <div style="display: flex;flex-direction: column;gap:10px;margin-top: 40px;height: 70%;justify-content: center;">
    <div>
      <H5 style="margin-bottom: 5px;">Old Email</H5>
      <div class="tagus-form-group without-icon">
                            
        <mat-form-field appearance="fill">
          
            <input matInput [value]="data.email">
        </mat-form-field>
    </div>
    </div>
    <div>
      <H5 style="margin-bottom: 5px;">New Email</H5>
      <div class="tagus-form-group without-icon">
                            
        <mat-form-field appearance="fill">
          
          <input matInput name="email" #emailInput="ngModel" [(ngModel)]="newemail" placeholder="New Email" required email>
         
        </mat-form-field>
        <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
          Email is required and must be a valid email address.
        </mat-error>
    </div>
   
    </div>
   </div>
    
          
       
      <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
        <div style="display: flex;gap: 5px;">

          <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
          <button mat-raised-button [disabled]="emailInput.invalid"  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="modalSave()">Update</button>
        </div>
      </div>
</div> -->
<div class="p-30" *ngIf="this.data.name_button=='Changepaymentterm'">
           
  <div style="display: flex;width: 100%;justify-content: space-between;">
    <h3>Change Payment Term</h3>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
    
  </div>
   
      

   <div style="display: flex;flex-direction: column;gap:10px;margin-top: 40px;height: 70%;justify-content: center;">
    <div>
      <H5 style="margin-bottom: 5px;">Old Term</H5>
      <div class="tagus-form-group without-icon">
                            
        <mat-form-field appearance="fill">
          
            <input matInput [value]="data.termRemark">
        </mat-form-field>
    </div>
    </div>
    <div>
      <H5 style="margin-bottom: 5px;">New Term</H5>
     
    <div class="tagus-form-group without-icon"style="position: relative;" (click)="handleClick()">
    <!-- <mat-form-field class="example-full-width">
      <mat-label>New Term</mat-label>
      <div *ngIf="showSpinners" style=" position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999;width: 100%;height: 100vh;">
          <mat-spinner color="warn" diameter="50"></mat-spinner>
      </div>
      <input #inputs
             type="text"
             placeholder="Pick one"
             matInput
             required        
             [(ngModel)]="selectedProject"
             [matAutocomplete]="auto"
             (input)="filter1()"
             (focus)="filter1()"
         
             >
      
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedValue($event)" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option.remarks }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
    <mat-form-field>
      <!-- <div *ngIf="" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
          <mat-spinner color="warn" diameter="50"></mat-spinner>
      </div> -->
      <div *ngIf="showSpinners3" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
        <mat-spinner color="warn" diameter="50"></mat-spinner>
    </div>
      <mat-select [formControl]="bankCtrl2" placeholder="New Term" (selectionChange)="onChange2($event.value)" #singleSelect>
        <mat-option>
          <ngx-mat-select-search [formControl]="bankFilterCtrl2" placeholderLabel="Search..."></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let bank of filteredBanks2 | async" [value]="bank">
          {{ bank.remarks }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
 
    </div>
    <div *ngIf="isActiveBank">
      <H5 style="margin-bottom: 5px;">Bank</H5>
      <div class="tagus-form-group without-icon"style="position: relative;" (click)="handleClick1()">
        <!-- <mat-form-field class="example-full-width">
          <mat-label>Term of Payment</mat-label>
          <div *ngIf="showSpinners" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
            <mat-spinner color="warn" diameter="50"></mat-spinner>
          </div>
          <input #paymentInput
                 type="text"
                 placeholder="Pick one"
                 matInput
                 required 
                 [matAutocomplete]="paymentAuto"
                 (input)="filterPayments()"
                 (focus)="filterPayments()">
          <mat-autocomplete #paymentAuto="matAutocomplete" (optionSelected)="selectedValue2($event)">
            <ng-container *ngFor="let option of filteredPaymentOptions; trackBy: trackByFn">
              <mat-option [value]="option.bankName">{{ option.bankName }}</mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field> -->
        <mat-form-field>
          <!-- <div *ngIf="" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
              <mat-spinner color="warn" diameter="50"></mat-spinner>
          </div> -->
          <div *ngIf="showSpinners4" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
            <mat-spinner color="warn" diameter="50"></mat-spinner>
        </div>
          <mat-select [formControl]="bankCtrl" placeholder="New Term" (selectionChange)="onChange($event.value)" #singleSelect>
            <mat-option>
              <ngx-mat-select-search [formControl]="bankFilterCtrl" placeholderLabel="Search..."></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
              {{ bank.bankName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>
  </div>
    </div>
    <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
    

    
          
        <!-- <div mat-dialog-actions style="width: 100%;display: flex;justify-content: end;">
          <button mat-button mat-dialog-close (click)="closeDialog()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer" >Close</button>
      </div> -->
      <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
        <div style="display: flex;gap: 5px;">

          <button mat-raised-button  (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;" >Close</button>
          <button mat-raised-button  style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="confirmUpdate()" [disabled]="changedata||(changedatabank&&isActiveBank)">Update</button>
        </div>
      </div>
</div>

<div class="p-30" *ngIf="this.data.name_button=='UploadConfirm'">
  <div style="display: flex;width: 100%;justify-content: space-between;">
    <h3 *ngIf="this.data.docCode=='CL'">Upload Confirmation Letter</h3>
    <h3 *ngIf="this.data.docCode=='PPPU'">Upload P3U</h3>
    <h3 *ngIf="this.data.docCode=='OLN2'">Upload OL & Akad</h3>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div >
    
<fieldset>
  <legend>Data Document</legend>
   <!-- <h3 style=" padding-left: 30px;" mat-dialog-title>Data Document</h3> -->
    
    <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 10px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Document Type</p></div>
      
      <div  style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docCode}} - {{this.data.docName}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Refer Document No</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docNo}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Book Code</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.bookCode}}</div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Unit Code/Unit No</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{data.unitCode}}/{{data.unitNo}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Customer Name</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">
        {{this.data.customerName}}</p></div>
    </div>
</fieldset>
<div>
  <!-- (ngSubmit)="onSubmit()" -->
  <form [formGroup]="form" >
    <div style="display: flex; flex-direction: column; gap: 10px;">
      
      
      <!-- <div class="tagus-form-group">
        <mat-label>Upload Signed Document</mat-label>
        <input matInput type="file" (change)="onFileSelected($event)"  formControlName="uploadSignatureAMDT"> -->
        <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
      <!-- </div> -->
      
      <div >
        <p style="color: #212529;">Signed Document Date<span style="color: red;">*</span></p>
      </div>
      <div class="tagus-form-group">
      
        <mat-form-field appearance="fill" class="date-input">
          <mat-label>MM/DD/YYYY</mat-label>
          <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="date" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [opened]="picker.opened"></mat-datepicker>
        </mat-form-field>
        
        <div *ngIf="dateControl?.invalid && (dateControl?.dirty || dateControl?.touched)" style="color: red;">Date is required</div>
        <!-- <div *ngIf="form.get('date')?.invalid && (form.get('date')?.dirty || form.get('date')?.touched)" style="color: red;">Date is required</div> -->
      </div>
    </div>
    <div style="height: 100%; display: flex; align-items: center;">
      <p style="color: #212529;">Upload Signed Document<span style="color: red;">*</span></p>
    </div>
      <div class="tagus-form-group" style="padding-top: 10px;padding-bottom: 10px;">
        <!-- <input type="file" formControlName="file" > -->
        <input type="file" #fileInput (change)="onFileSelecteds($event,fileInput)" formControlName="file">
        <div *ngIf="fileControl?.invalid && (fileControl?.dirty || fileControl?.touched)" style="color: red;">File is required</div>
        <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
      </div>
    <div style="display: flex;justify-content: end;">


    
    </div>
  </form>

<div style="display: flex;justify-content: end;">

  <button mat-raised-button (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;">Close</button>
  <button style="background-color: #f4516c !important; color:white !important;margin-left: 10px;"  [disabled]="form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Upload</button>
</div>
</div>



<!-- batas---------------------------------------------------------------- -->
<!-- <div class="p-30" *ngIf="data.name_button=='printolakad'">
  <h3 mat-dialog-title>Amount to be Paid</h3>
  <p mat-dialog-content>Total Outstanding Payment.</p>
  
  
  </div>

  <div style="height: 30%; display: flex;justify-content: end;align-items: center;">
    <div style="display: flex;gap: 5px;">
      <button mat-raised-button (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;">Close</button>
      <button mat-raised-button [disabled]="!isPaymentSelected" style="background-color: #f4516c !important; color:white !important;" color="warn" (click)="save()">Pay</button>
    </div>
  </div>
</div>

      
</div> -->





<div class="p-30" *ngIf="this.data.name_button=='UploadOl'">
  <div style="display: flex;width: 100%;justify-content: space-between;">
    <h3>Upload OL & Akad</h3>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div >
    
<fieldset>
  <legend>Data Document</legend>
   <!-- <h3 style=" padding-left: 30px;" mat-dialog-title>Data Document</h3> -->
    
    <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 10px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Document Type</p></div>
      
      <div  style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docCode}} - {{this.data.docName}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Refer Document No</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docNo}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Book Code</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.bookCode}}</div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Unit Code/Unit No</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{data.unitCode}}/{{data.unitNo}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Customer Name</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">
        {{this.data.customerName}}</p></div>
    </div>
</fieldset>
<div>
  <form [formGroup]="form" >
    <div style="display: flex; flex-direction: column; gap: 10px;">
     
      
      <!-- <div class="tagus-form-group">
        <mat-label>Upload Signed Document</mat-label>
        <input matInput type="file" (change)="onFileSelected($event)"  formControlName="uploadSignatureAMDT"> -->
        <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
      <!-- </div> -->
      <div >
        <p style="color: #212529;">Signed Document Date<span style="color: red;">*</span></p>
      </div>
      <div class="tagus-form-group">
        <!-- <mat-form-field appearance="fill" class="date-input">
          <mat-label>MM/DD/YYYY</mat-label>
          <input matInput [matDatepicker]="picker"  (change)="onDateChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="fill" class="date-input">
          <mat-label>MM/DD/YYYY</mat-label>
          <input [for]="picker" matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <mat-form-field appearance="fill" class="date-input">
          <mat-label>MM/DD/YYYY</mat-label>
          <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [opened]="picker.opened"></mat-datepicker>
        </mat-form-field>
        
        <div *ngIf="dateControl?.invalid && (dateControl?.dirty || dateControl?.touched)" style="color: red;">Date is required</div>
        <!-- <div *ngIf="form.get('date')?.invalid && (form.get('date')?.dirty || form.get('date')?.touched)" style="color: red;">Date is required</div> -->
      </div>
    </div>
    <div style="height: 100%; display: flex; align-items: center;">
      <p style="color: #212529;">Upload Signed Document<span style="color: red;">*</span></p>
    </div>
      <div class="tagus-form-group" style="padding-top: 10px;padding-bottom: 10px;">
        <!-- <input type="file" formControlName="file" > -->
        <input type="file" #fileInput (change)="onFileSelecteds($event,fileInput)" formControlName="file">
        <div *ngIf="fileControl?.invalid && (fileControl?.dirty || fileControl?.touched)" style="color: red;">File is required</div>
        <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
      </div>


      
  
  </form>
  <!-- [disabled]="form.get('file')?.invalid&&form.get('date')?.invalid" -->
  <div style="display: flex;justify-content: end;">


    <button mat-raised-button (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;">Close</button>
    <button style="background-color: #f4516c !important; color:white !important;margin-left: 10px;"  [disabled]="form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
  
</div>








<div class="p-30" *ngIf="this.data.name_button=='Upload'">
  <div style="display: flex;width: 100%;justify-content: space-between;">
    <h3>Upload P3U/PPPU</h3>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div >
    
<fieldset>
  <legend>Data Document</legend>
   <!-- <h3 style=" padding-left: 30px;" mat-dialog-title>Data Document</h3> -->
    
    <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 10px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Document Type</p></div>
      
      <div  style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docCode}} - {{this.data.docName}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between; padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Refer Document No</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.docNo}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Book Code</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{this.data.bookCode}}</div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Unit Code/Unit No</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">{{data.unitCode}}/{{data.unitNo}}</p></div>
    </div>
    <div style="width:100%;display: flex; justify-content: space-between;  padding-left: 10px;padding-right: 10px;padding-top: 5px;">
      <div style="display: flex;flex: 3;"><p style="color: #212529;">Customer Name</p></div>
      
      <div style="display: flex;flex: 5;"><p style="color: #212529;">
        {{this.data.customerName}}</p></div>
    </div>
</fieldset>
<div>
  <form [formGroup]="form" >
    <div style="display: flex; flex-direction: column; gap: 10px;">
     
      
      <!-- <div class="tagus-form-group">
        <mat-label>Upload Signed Document</mat-label>
        <input matInput type="file" (change)="onFileSelected($event)"  formControlName="uploadSignatureAMDT"> -->
        <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
      <!-- </div> -->
      
      <div >
        <p style="color: #212529;">Signed Document Date<span style="color: red;">*</span></p>
      </div>
      <div class="tagus-form-group">
        <!-- <mat-form-field appearance="fill" class="date-input">
          <mat-label>MM/DD/YYYY</mat-label>
          <input matInput [matDatepicker]="picker"  (change)="onDateChange($event)">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="fill" class="date-input">
          <mat-label>MM/DD/YYYY</mat-label>
          <input [for]="picker" matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <mat-form-field appearance="fill" class="date-input">
          <mat-label>MM/DD/YYYY</mat-label>
          <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [opened]="picker.opened"></mat-datepicker>
        </mat-form-field>
        
        <div *ngIf="dateControl?.invalid && (dateControl?.dirty || dateControl?.touched)" style="color: red;">Date is required</div>
        <!-- <div *ngIf="form.get('date')?.invalid && (form.get('date')?.dirty || form.get('date')?.touched)" style="color: red;">Date is required</div> -->
      </div>
    </div>
    <div style="height: 100%; display: flex; align-items: center;">
      <p style="color: #212529;">Upload Signed Document<span style="color: red;">*</span></p>
    </div>
      <div class="tagus-form-group" style="padding-top: 10px;padding-bottom: 10px;">
        <!-- <input type="file" formControlName="file" > -->
        <input type="file" #fileInput (change)="onFileSelecteds($event,fileInput)" formControlName="file">
        <div *ngIf="fileControl?.invalid && (fileControl?.dirty || fileControl?.touched)" style="color: red;">File is required</div>
        <!-- <div *ngIf="form.get('file')?.invalid && (form.get('file')?.dirty || form.get('file')?.touched)" style="color: red;">File is required</div> -->
      </div>
      
  
  </form>
  <!-- [disabled]="form.get('file')?.invalid&&form.get('date')?.invalid" -->
  <div style="display: flex;justify-content: end;">


    <button mat-raised-button (click)="closeDialog()" style="background-color: #c4c5d6 !important; color: #212529 !important;">Close</button>
    <button style="background-color: #f4516c !important; color:white !important;margin-left: 10px;"  [disabled]="form.invalid" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </div>
  
</div>