/* Add this in your styles or a separate CSS file */

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .responsive-h1 {
    margin-left: 1rem; /* Adjust as needed */
  }

  .responsive-p {
    margin-left: 1rem; /* Adjust as needed */
  }
}

/* For screens between 601px and 1024px */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .responsive-h1 {
    margin-left: 5rem; /* Adjust as needed */
  }

  .responsive-p {
    margin-left: 5rem; /* Adjust as needed */
  }
}

/* For screens larger than 1024px */
@media only screen and (min-width: 1025px) {
  .responsive-h1 {
    margin-left: 15rem; /* Your original value */
  }

  .responsive-p {
    margin-left: 15rem; /* Your original value */
  }
}

.flaticon-chevron {
  font-size: 35px; /* Ganti nilai ini dengan ukuran yang diinginkan */
 color: white;
}
.flaticon-chevron-1{
font-size: 35px; /* Ganti nilai ini dengan ukuran yang diinginkan */
color: white;
}
.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100vh;
}

.carousel-inner {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  height: 100vh; /* Set height to match container */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-slide.active {
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  /* Add styles for screens with a maximum width of 600px */
  h2 {
    margin-left: 5rem;
  }

  p {
    margin-left: -5rem;
  }
}
