
  
  <div #myDiv style="height: 100vh; width: 100%; background-color: rgb(25, 24, 24); position: relative; ">
    <!-- <div  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; ">
      <mat-spinner color="warn"></mat-spinner>
  </div> -->
  <app-banner *ngIf="showSpinner||displayBanner==true"></app-banner>
    <!-- Owl Carousel -->
    <div class="carousel-container" [style.width.px]="carouselWidth" style="position: absolute; z-index: 2;">
      <div class="carousel-inner" [style.height.px]="carouselHeight" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
        <div *ngFor="let image of images; let i = index" class="carousel-slide" [class.active]="i === currentIndex" [style.backgroundImage]="'url(' + image.productLogo + ')'">
          <!-- Optional: You can add a div inside with content if needed -->
          <div style="background-color: transparent; /*Only for the demo.*/
            display: flex;
            justify-content: space-between;
            align-items: end; height: 100vh; width: 100%;">
            <div style="display: flex; flex-direction: column; background: linear-gradient(to top, rgb(39, 38, 38), rgba(4, 219, 190, 0)); width: 100%; height: 20vh;">
    
              <h2  class="responsive-h1" style="color: white; margin-bottom: -1px;  margin-top: 20px;">{{image.productName}}</h2>
              <p class="responsive-p" style="color: white; ">We strive to provide Our Customers with Top Notch Support to make your shopping Experience Wonderful</p>
            </div>
          </div>
    
        </div>
      </div>
    </div>
    <div *ngIf="showSpinner==false&&this.displayBanner==false" style="display: flex;position: absolute; z-index: 30;right: 0; top:50%; " (click)="nextImage()">
    
      <div style="display: flex; justify-content: center;align-items: center;background-color: rgba(46, 46, 48, 0.451);width: 100%;cursor: pointer;padding-top: 5px;padding-left: 5px;padding-right: 5px;"><i class="flaticon-chevron"></i></div>
    
    </div>
    <div *ngIf="showSpinner==false&&this.displayBanner==false" style="display: flex;position: absolute; z-index: 30;left: 0; top:50%; " (click)="leftImage()">
    
      <div style="display: flex; justify-content: center;align-items: center;background-color: rgba(46, 46, 48, 0.451);width: 100%;cursor: pointer;padding-top: 5px;padding-left: 5px;padding-right: 5px;"><i class="flaticon-chevron-1"></i></div>
    
    </div>


     <!-- app.component.html -->



            


  
    <!-- Your existing content -->
    <div style="display: flex;flex-direction: column;height: 100vh;">

      <div style="height: 30%; display: flex; position: relative; width: 100%;">
        <div style="height: 100px; background: linear-gradient(to bottom, rgb(81, 79, 79), rgba(4, 219, 190, 0)); width: 100%; z-index:11; position: absolute; margin-right: 0; display: flex; align-items: center; justify-content: start;">
          <div style="display: flex; width: 50%; gap: 5px; margin-left: 10rem; color: white;">
            <div routerLink="/authentication/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  style="display: flex; flex-direction: column;justify-content: center;background-color:  rgb(231, 76, 60);;height: 100px;padding: 10px;cursor: pointer;">

              <h5 style="color: white; margin-bottom: -1px;display: flex">Sign In</h5>
              <p style="color: white;display: flex;">Let's Start</p>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; height: 100px; padding: 10px; margin-left: -1px;cursor: pointer;"
                  (mouseover)="changeBackgroundColor(true)" (mouseout)="changeBackgroundColor(false)"
                  [style.background-color]="isHovered ? 'rgb(231, 76, 60)' : 'transparent'">

               <h5 style="color: white; margin-bottom: -1px; display: flex;">Member Activation</h5>
               <p style="color: white; display: flex;">Activate Your Account</p>
            </div>
            <!-- <div style="display: flex; flex-direction: column;justify-content: center;background-color:  rgb(231, 76, 60);;height: 100px;padding: 10px;">

              <h5 style="color: white; margin-bottom: -1px;display: flex;">Selft Registration</h5>
              <p style="color: white;display: flex;">For Agent Registration</p>
            </div> -->


            <div style="display: flex; flex-direction: column; justify-content: center; height: 100px; padding: 10px; margin-left: -1px;cursor: pointer;"
                  (mouseover)="changeBackgroundColor2(true)" (mouseout)="changeBackgroundColor2(false)"
                  [style.background-color]="isHovered2 ? 'rgb(231, 76, 60)' : 'transparent'">
       
                <h5  (mouseover)="changeBackgroundColor2(true)" (mouseout)="changeBackgroundColor2(false)" style="color: white; margin-bottom: -1px; display: flex;">Selft Registration</h5>
              <p  (mouseover)="changeBackgroundColor2(true)" (mouseout)="changeBackgroundColor2(false)" style="color: white; display: flex;">For Agent Registration</p>
       </div>
          </div>
        </div>
        <div style="height: 300px; width: 900px; position: absolute; z-index: 12; right: 0;top: 0;">
          <div style="z-index: 10; display: flex; justify-content: end;">
            <img  height="35%" width="35%" src="assets/img/logo-lippo-homes-corner-new.png" alt="logo-lippo-homes-corner-new">
          </div>
        </div>
      </div>
    </div>
   
  </div>