<body >
    <div class="text-container">
      <span>L</span>
      <span>I</span>
      <span>P</span>
      <span>P</span>
      <span>O</span>
  
    </div>
    <img src="../../../../../assets/img/lippo-karawaci--600-removebg-previewooooo.png" width="10%" alt="Image"/>
    <div class="subtext">HOMES</div>
  </body>