@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
  
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.text-container {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 20px;
  position: relative;
  overflow: hidden;
  color:#000;
}

.text-container span {
  display: inline-block;
  opacity: 0;
  animation: slide 1.5s forwards, float 3s ease-in-out infinite;
}

.text-container span:nth-child(1) { animation-delay: 0.1s; }
.text-container span:nth-child(2) { animation-delay: 0.2s; }
.text-container span:nth-child(3) { animation-delay: 0.3s; }
.text-container span:nth-child(4) { animation-delay: 0.4s; }
.text-container span:nth-child(5) { animation-delay: 0.5s; }
.text-container span:nth-child(6) { animation-delay: 0.6s; }

@keyframes slide {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.subtext {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 70px;
   margin-left: -118px;
  color:#000;
  text-align: center;
  opacity: 0;
  animation: slideSubtext 1.5s forwards;
}

@keyframes slideSubtext {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}