
<app-header ></app-header>
<div class="breadcrumb-card mb-25 d-md-flex align-items-center " style="gap: 30px;">
    <h5 class="mb-0">Notification</h5>
    <div style="display: flex;justify-content: center;">
        <p>You can maintain the purchase progress that the customer makes.</p>
    </div>
</div>
<mat-card class="mb-25 tagus-card"  style="position: relative;">
    <!-- <div *ngIf="showSpinner" style=" position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999;width: 100%;height: 100vh;">
        <mat-spinner color="warn"></mat-spinner>
    </div> -->
    <mat-card-content>
        
    </mat-card-content>
</mat-card>
