<app-header [childMessage]="parentMessage"></app-header>
<div class="breadcrumb-card mb-25 d-md-flex align-items-center " style="gap: 30px;">


    <h5 class="mb-0">Sales Tracking</h5>
   
    <div style="display: flex;justify-content: center;">

        <p >You can maintain the purchase progress that the customer makes.</p>
    </div>
    <!-- <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item gray-color">Icons</li>
        <li class="breadcrumb-item fw-semibold">Flaticon</li>
    </ol> -->
</div>
<mat-card class="mb-25 tagus-card" [class.component-dark-theme]="themeService.isDark()" style="position: relative;">
    
    <div *ngIf="showSpinner" style=" position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999;width: 100%;height: 100vh;">
        <mat-spinner color="warn"></mat-spinner>
    </div>
    <mat-card-content >
      
        <div [ngClass]="{'flex-column': isSmallScreen(), 'flex-row': !isSmallScreen()}">
            <div class="row" >
            
               
                <div class="col-lg-3 col-md-3 col-sm-3" >
                 
                    <div class="tagus-form-group without-icon"style="position: relative;" (click)="handleClick()">
                       
                          <!-- <mat-form-field class="example-full-width">
                            <mat-label>Project</mat-label>
                            <div *ngIf="showSpinners" style=" position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999;width: 100%;height: 100vh;">
                                <mat-spinner color="warn" diameter="50"></mat-spinner>
                            </div>
                            <input #inputs
                                   type="text"
                                   placeholder="Pick one"
                                   matInput
                               
                                   [matAutocomplete]="auto"
                                   (input)="filter1()"
                                   (focus)="filter1()">
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedValue($event)">
                                
                              @for (option of filteredOptions; track option) {
                                <mat-option [value]="option.projectName">{{option.projectName}}</mat-option>
                              }
                            </mat-autocomplete>
                          </mat-form-field> -->
                          <mat-form-field>
                            <div *ngIf="showSpinners3" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
                                <mat-spinner color="warn" diameter="50"></mat-spinner>
                            </div>
                            <mat-select [formControl]="bankCtrl2" placeholder="Project" (selectionChange)="onChange2($event.value)" #singleSelect>
                              <mat-option>
                                <ngx-mat-select-search [formControl]="bankFilterCtrl2" placeholderLabel="Search..."></ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let bank of filteredBanks2 | async" [value]="bank">
                                {{ bank.projectName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        
                          
                          
                          
                  </div>
              </div>
              
              <!-- <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="tagus-form-group without-icon">
                    <mat-form-field class="example-full-width">
                        <div *ngIf="showSpinners2" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
                            <mat-spinner color="warn" diameter="50"></mat-spinner>
                        </div>
                        <mat-label>Term of Payment</mat-label>
                        <mat-select  (selectionChange)="selectedValue2($event)">
                            <mat-option *ngFor="let image of termdropdown; let i = index" [value]="image?.termID">{{image?.termRemarks}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="tagus-form-group without-icon" style="position: relative;" >
                    <mat-form-field>
                        <div *ngIf="showSpinners2" style="position: fixed; top: 47%; left: 45%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; z-index: 999; width: 100%; height: 100vh;">
                            <mat-spinner color="warn" diameter="50"></mat-spinner>
                        </div>
                        <mat-select [formControl]="bankCtrl" placeholder="Term of Payment" (selectionChange)="onChange($event.value)" #singleSelect>
                          <mat-option>
                            <ngx-mat-select-search [formControl]="bankFilterCtrl" placeholderLabel="Search..."></ngx-mat-select-search>
                          </mat-option>
                          <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                            {{ bank.termRemarks }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      
          
                      
                      
                </div>
            </div>
            
            
  
                      <div class="col-lg-3 col-md-3 col-sm-3">
                          <div class="tagus-form-group without-icon">
                            
                              <mat-form-field appearance="fill">
                                  <mat-label>Membercode</mat-label>
                                  <input matInput  #memberCode (change)="onMemberCodeChange($event)">
                              </mat-form-field>
                          </div>
                      </div>
                    
                      <div class="col-lg-3 col-md-3 col-sm-3">
                          <div class="tagus-form-group without-icon">
                              
                              <mat-form-field appearance="fill">
                                  <mat-label>Bookcode</mat-label>
                                  <input matInput  #bookCode (change)="onBokcodeChange($event)">
                              </mat-form-field>
                          </div>
                      </div>
                    
                      
                      
                   
                          <div class="col-lg-3 col-md-3 col-sm-3" style="width: 75%;">
                        
  
                                  <div  (click)="hide()" style="display: flex;gap:2px;cursor: pointer;margin-bottom: 20px;"><i style="padding-top: 5px;"  class="flaticon-chevron-2"></i>
                                      
                                      @if(hiden){
                                          <p>Hide advanced filters</p>
                                      }@else{
                                          <p>Show advanced filters</p>
                                      }
                                      </div>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-3" >
  
                                  <div  class="tagus-form-group without-icon">
                                      
                                      <mat-form-field style="width: 99% !important;" appearance="fill" *ngIf="hiden">
                                          <mat-label>Search</mat-label>
                                          <input matInput  #keyword (change)="onMemberCodeChange2($event)">
                                      </mat-form-field>
                                  </div>
                            
                        
                      </div>
                      
              </div>
              <div [ngClass]="{'flex-columnrt': isSmallScreen(), 'flex-rowrt': !isSmallScreen()}"  >
                <button style="height: 40px !important;width: 50px !important;text-align: center;" [disabled]="existingData==null" mat-flat-button color="warn" (click)="ditekan()"><div style="width: 20px;position: absolute;left: 0;top:0;margin-left:-9px;margin-top: -9px;"><i class="ri-search-2-line"></i></div></button>
            </div>
        </div>
         
                




                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" style="overflow-y: auto;display: block;">
                        <!-- Position Column -->
                     
                        <ng-container matColumnDef="position">
                            <th  mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;">No. </th>
                            <td mat-cell *matCellDef="let element; let i = index">{{ skipCount + i + 1 }}
                              
                            </td>
                          </ng-container>
                
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;">Name </th>
                            <td mat-cell *matCellDef="let element">{{element.name}}</td>
                        </ng-container>
                
                        <!-- Weight Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;">Email </th>
                            <td mat-cell *matCellDef="let element">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <div style="width: 150px; overflow: hidden;">
                                        <div style="word-wrap: break-word; max-width: 150px;">
                                            {{ element.email }}
                                        </div>
                                    </div>
                                    <div>
                                        <mat-icon style="cursor:pointer;" (click)="emailModal(element.email, element.psCode)">email</mat-icon>
                                    </div>
                                </div>
                                 

                                
                          
                                  
                             
                               
                            </td>
                            
                        </ng-container>
                
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="memberCode">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;"> Member Code</th>
                            <td mat-cell *matCellDef="let element">{{element.memberCode}}
                            
                                
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="paymentStatus">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;">Satatus</th>
                            <td mat-cell *matCellDef="let element" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                @if(element.overallStatus==="Immediate"||element.overallStatus==="Urgent"||element.overallStatus==="New"){
                                    <div style="width: 150px; display: flex; justify-content: center;">
                                        <mat-card-content class="example-badges">
                                            <span class="badge text-bg-success">{{ element.overallStatus }}</span>
                                        </mat-card-content>
                                    </div>
                                }
                                    
                                @else{
                                    <div style=" width: 150px; display: flex; justify-content: center;">
                                        <mat-card-content class="example-badges">
                                            <span class="badge text-bg-danger">{{ element.overallStatus }}</span>
                                        </mat-card-content>
                                    </div>

                                }
                                   
                         
                                <div style="display: flex; justify-content: center;margin-top: 8px;">
                                    <p>Step {{ element.step }}</p>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <p>({{ element.stepComplete }})</p>
                                </div>
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="totalPayment">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;"> Payment</th>
                            <td mat-cell *matCellDef="let element" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <div style="display: flex;gap:15px;">

                                    <div style="display: flex;flex-direction: column;flex: 2px;"> 
                                        
                                            
                                            @if(element.paymentStatus==="On Schedule"){
                                                <div style="width: 150px; display: flex; justify-content: center;margin-bottom: 8px;">
                                                
                                                    <mat-card-content class="example-badges" >
                                                        
                                                        <span class="badge text-bg-success">{{ element.paymentStatus }}</span>
                                                        
                                                    </mat-card-content>
                                                    
                                                </div>
                                            }@else {
                                                <div style=" width: 150px; display: flex; justify-content: center;margin-bottom: 8px;">
                                                    <mat-card-content class="example-badges">
                                                        
                                                        <span class="badge text-bg-danger">{{ element.paymentStatus }}</span>
                                                        
                                                    </mat-card-content>
                                                </div>
                                            }
                                            
                                        
                                                <div style="display: flex; justify-content: center;"><p >Total Payment</p>
                                        
                                        
                                                </div> <div style="display: flex; justify-content: center;">({{ element.pctPaymentDp }} )</div><div style="display: flex;justify-content: center">{{ element.totalPayment| currency
                                                : "Rp. "
                                                : true
                                                : "0.0-0" }}</div>   <span style="display: flex; justify-content: center;" *ngIf="element.paymentStatus!=='On Schedule'">... </span><div style="display: flex; justify-content: center;" *ngIf="element.paymentStatus!=='On Schedule'"><p >Next Payment</p></div><div style="display: flex; justify-content: center;" *ngIf="element.paymentStatus!=='On Schedule'"><p >Duedate </p></div> 
                                                    <div style="display: flex; justify-content: center;" *ngIf="element.paymentStatus!=='On Schedule'"><p > ({{element.dueDate| date : 'dd/MM/yyyy '}})</p></div> 
                                            
                                                </div>
                                                <div *ngIf="element.paymentStatus=='On Schedule'" style="flex: 2px;display: flex;align-items: center;">
                                                    
                                                    <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                                        <i class="ri-menu-line"></i>
                                                        <i class="ri-arrow-down-s-line"></i>
                                                    </div>
                                            
                                                    <mat-menu #menu="matMenu" >
                                                        <button (click)="
                                                        showModal(
                                                            element.projectID,
                                                            element.bookCode,
                                                            element.bookingHeaderID,
                                                            'payment',
                                                            '',
                                                            element.nextPayment
                                                            )" mat-menu-item  [disabled]="element.unitStatus != 'Done' || element.bookingHeaderID == null || element.nextPayment == null || element.nextPayment == 0">
                                                        
                                                            <span >Pay Online</span>
                                                        </button>
                                                        <button (click)="showModalsendPaymentInstruction(element.bookCode,
                                                        'payment',
                                                        '',
                                                        element.email,
                                                        element.name,
                                                        element.memberCode,
                                                        element.orderCode,
                                                        element.nextPayment)" mat-menu-item [disabled]="  element.unitStatus !=
                                                                    'Done' ||
                                                                    element.nextPayment ==
                                                                    null ||
                                                                    element.nextPayment ==
                                                                    0                                     
                                                                ">
                                                
                                                                <span  >Send Payment Instruction</span>
                                                        </button>
                                                <button (click)=" resendEmailConfirmation(
                                                    element.bookCode,
                                                    element.email,
                                                    element.name
                                                )" mat-menu-item [disabled]=" element.unitStatus !=
                                                'Done'">
                                                
                                                                <span 
                                                            
                                                                >Resend Confirmation</span>
                                                            </button>
                                                            <button  (click)="
                                                resendAccountStatement(
                                                    element.bookCode,
                                                    element.name
                                                    )
                                            "  mat-menu-item [disabled]=" element.unitStatus !=
                                                'Done'
                                            
                                                ">
                                                
                                                    <span  >Resend Account Statement</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                <div *ngIf="element.paymentStatus!=='On Schedule'" style="margin-top: 5px;flex: 4px;display: flex;align-items: center;">

                                    <!-- <button mat-fab [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button> -->
                                    <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                        <i class="ri-menu-line"></i>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </div>
                                    <mat-menu #menu="matMenu">

                                        <button (click)="
                                        showModal(
                                            element.projectID,
                                            element.bookCode,
                                            element.bookingHeaderID,
                                            'payment',
                                            '',
                                            element.nextPayment
                                            )" mat-menu-item [disabled]="element.unitStatus != 'Done' || element.bookingHeaderID == null || element.nextPayment == null || element.nextPayment == 0">
                                           
                                           <span>Pay Online</span>

                                        </button>
                                        <button (click)="showModalsendPaymentInstruction(element.bookCode,
                                        'payment',
                                        '',
                                        element.email,
                                        element.name,
                                        element.memberCode,
                                        element.orderCode,
                                        element.nextPayment)" mat-menu-item [disabled]="element.unitStatus !=
                                        'Done' ||
                                    element.nextPayment ==
                                        null ||
                                    element.nextPayment ==
                                        0                                     
                                    ">
                                          
                                            <span >Send Payment Instruction</span>
                                        </button>
                                        <button (click)=" resendEmailConfirmation(
                                            element.bookCode,
                                            element.email,
                                            element.name
                                        )" mat-menu-item [disabled]=" element.unitStatus !=
                                        'Done'
                                       
                                    ">
                                          
                                            <span >Resend Confirmation</span>
                                        </button>
                                        <button  (click)="
                                        resendAccountStatement(
                                            element.bookCode,
                                    
                                            element.name
                                        )
                                    "  mat-menu-item [disabled]="element.unitStatus !=
                                        'Done'">
                                          
                                            <span >
                                           
                                        Resend Account Statement</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </td>
                        </ng-container>





                        <ng-container matColumnDef="ppStatus" >
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;"> PP/BF</th>
                            <td mat-cell *matCellDef="let element" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                
                                <div style="display:flex ;gap: 1px;">
                                  <div style="display: flex;flex-direction: column;flex: 2px;">

                                    @if(element.ppStatus==="Done"){
                                        <div style="width: 150px; display: flex;justify-content: center;">
    
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-success">{{ element.ppStatus }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                    }@else {
                                        <div style="width: 150px; display: flex;justify-content: center;">
    
                                            <mat-card-content class="example-badges">
                                                
                                                <span class="badge text-bg-danger">{{ element.ppStatus }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                    }
                                    <div style="display: flex;justify-content: center;margin-top: 2px;"> {{ element.ppNo }}</div>
                                </div>  
                                    <div style="flex: 2px;display: flex;align-items: center;">

                                        <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                            <i class="ri-menu-line"></i>
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                        <mat-menu #menu="matMenu" >
                                                    <button (click)="
                                                    
                                                        openBuyPP(
                                                        element.name,
                                                        element.ppOrderID,
                                                        element.projectCode
                                                    ) 
                                                        " mat-menu-item  [disabled]="  element.ppStatus !=
                                                            'Pending'">
                                                    
                                                        <span > Pay Online PP/BF</span>
                                                    </button>
                                                
                                           


                                                    <button (click)="
                                                    
                                                    showModalsendPaymentInstruction(
                                                                    element.bookCode,
                                                                    'bf',
                                                                    ' PP/BF',
                                                                    element.email,
                                                                    element.name,
                                                                    element.memberCode,
                                                                    element.orderCode
                                                                )
                                                    " mat-menu-item  [disabled]="element.ppNo == null">
                                                
                                                    <span > Send Payment Instruction PP/BF</span>
                                                </button>
                                            <button  (click)="resendPPEmail(
                                                element.name,
                                                element.ppOrderID
                                            )"  mat-menu-item [disabled]="  element.ppStatus !=
                                                                'Done' ||
                                                            element.ppOrderID ==
                                                                null ||
                                                            element.ppNo == null
                                           
                                        ">
                                              
                                                <span  >  Resend Confirmation
                                                    PP/BF</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                    
                                </div>
                               
                                
                                </td>
                        </ng-container>

                        <ng-container matColumnDef="unitStatus">
                            <th mat-header-cell *matHeaderCellDef style="width: 400px;background-color: #f2f2f2;text-align: center;"> Choose Unit</th>
                            <td mat-cell *matCellDef="let element" >
                           
                            <div style="display:flex ;gap: 1px;">
                                <div style="display: flex;flex-direction: column;flex: 2px;">

                                    @if(element.unitStatus==="Done"){
                                       
                                        <div style="width: 150px; display: flex;justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-success">{{ element.unitStatus }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                      
                                    }@else {
                                        <div style="width: 150px; display: flex;justify-content: center;">
                                            <mat-card-content class="example-badges">
                                                
                                                <span class="badge text-bg-danger">{{ element.unitStatus }}</span>
                                                
                                            </mat-card-content>
                                            </div>
                                        
                                        <!-- <div style="width: 550px; display: flex;justify-content: center;">
    
                                            <div style="width: 750px;background-color: #f4516c;display: flex; justify-content: center;color: white;border-radius: 10px;width: 60px;"><p style="color: white;    padding: 1px 10px;">{{ element.unitStatus }}</p></div> 
                                        </div> -->
                                    }
                                    <div style="display: flex;justify-content: center;margin-top: 2px;"> {{ element.unit }}</div>
                                </div>  
                                    <div style="flex: 2px;display: flex;align-items: center;">

                                        <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                            <i class="ri-menu-line"></i>
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                        <mat-menu #menu="matMenu" >
                                                    <button  (click)="
                                                    openBookingUnit(
                                                        element.projectID,
                                                        element.clusterID
                                                    )
                                                "
                                                         mat-menu-item  [disabled]="   element.unitStatus ==
                                                            'Done'">
                                                    
                                                        <span > 
                                                            Choose Unit via Sales Web
                                                            </span>
                                                    </button>
                                                
                                           


                                                    <button    (click)="
                                                    resendKP(
                                                        element.name,
                                                        element.unitOrderHeaderId
                                                    )
                                                "
                                                    mat-menu-item  [disabled]="  element.unitStatus !=
                                                            'Done'">
                                                
                                                    <span > Resend KP to Customer</span>
                                                </button>
                                            <button  (click)="  resendLayoutPlan(
                                                element.projectID,
                                                element.email,
                                                element.name,
                                                element.memberCode
                                            
                                            )"  mat-menu-item [disabled]="   element.unitStatus !=
                                                                'Done' ||
                                                            element.projectID ==
                                                                null
                                           
                                        ">
                                              
                                                <span  >  Resend Layout Plan</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                             </div>
                                
                                
                                </td>
                        </ng-container>

                        <ng-container matColumnDef="signP3U">
                            <th mat-header-cell *matHeaderCellDef style="width: 400px;text-align: center;background-color: #f2f2f2;"> Sign P3U</th>
                            <td mat-cell *matCellDef="let element" >
                           
                               
                            <div style="display:flex ;gap: 1px;">
                                <div style="display: flex;flex-direction: column;flex: 2px;">

                                    @if(element.signP3U==="Complete"){
                                        <div style="width: 150px; display: flex;justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-success">{{ element.signP3U }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                    }@else {
                                        <div style="width: 150px; display: flex;justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-danger">{{ element.signP3U }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                        <!-- <div style="width: 550px; display: flex;justify-content: center;">
    
                                            <div style="width: 750px;background-color: #f4516c;display: flex; justify-content: center;color: white;border-radius: 10px;width: 60px;"><p style="color: white;    padding: 1px 10px;">{{ element.unitStatus }}</p></div> 
                                        </div> -->
                                    }
                                </div>  
                                <div style="flex: 2px;display: flex;align-items: center;">

                                        
                                    <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                        <i class="ri-menu-line"></i>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </div>
                                        <mat-menu #menu="matMenu" >
                                     <!-- <button  (click)="
                                                    changePaymentTermModal(
                                                        element.projectID,
                                                        element.bookCode,
                                                        element.bankCode,
                                                        element.unitID,
                                                        element.unitOrderHeaderId,
                                                        element.termRemarks,
                                                        element.bookingHeaderID
                                                    )
                                                "
                                                            
                                                        [disabled]=" element.unitStatus !=
                                                        'Done' ||
                                                    element.signP3U ==
                                                        'Complete' ||
                                                    element.unitOrderHeaderId ==
                                                        null "     
                                                            >
                                                    
                                                        <span > 
                                                            Change Payment Term
                                                            </span>
                                        </button> -->
                                        <button (click)="
                                                    
                                  
                                            changePaymentTermModal(
                                                        element.unitID,
                                                        element.bankName,
                                                        element.bankCode,
                                                        element.projectID,
                                                        element.bookCode,
                                                        element.bankCode,
                                                        element.unitID,
                                                        element.unitOrderHeaderId,
                                                        element.termRemarks,
                                                        element.bookingHeaderID
                                                    )
                                                    
                                                    
                                        " mat-menu-item  [disabled]=" element.unitStatus !=
                                                        'Done' ||
                                                    element.signP3U ==
                                                        'Complete' ||
                                                    element.unitOrderHeaderId ==
                                                        null">
                                    
                                        <span >    Change Payment Term</span>
                                    </button>   
                                           


                                                    <button (click)="
                                                    
                                                    resendEmailDoc(
                                                                    element.memberCode,
                                                                    element.bookCode,
                                                                    'PPPU',
                                                                    'P3U/PPPU',
                                                                    element.email,
                                                                    element.name,
                                                                    false
                                                                )
                                                                
                                                    " mat-menu-item  [disabled]=" element.unitStatus !=
                                                                'Done' ||
                                                            element.signP3U ==
                                                                'Pending'">
                                                
                                                    <span >   Resend P3U</span>
                                                </button>
                                            <button   (click)="
                                                        printP3U(
                                                            element.bookCode
                                                        )
                                                    "  mat-menu-item [disabled]="  element.unitStatus !=
                                                                            'Done' ||
                                                                        element.signP3U ==
                                                                            'Complete'
                                                    
                                             ">
                                              
                                                <span  >   Print P3U</span>
                                            </button>
                                 <button   (click)="
                                 uploadSignatureModalConfirmlatter(
                                                                    element.bookCode,
                                                                    'PPPU',
                                                                    'P3U/PPPU'
                                                                )
                                        "  mat-menu-item [disabled]="  element.unitStatus !=
                                                                'Done' ||
                                                            element.signP3U ==
                                                                'Pending'
                                        
                                 ">
                                  
                                    <span  >   Upload P3U</span>
                                </button>
                     <button   (click)="
                                 resendEmailDoc(
                                                                    element.memberCode,
                                                                    element.bookCode,
                                                                    'PPPU',
                                                                    'P3U/PPPU',
                                                                    element.email,
                                                                    element.name,
                                                                    true
                                                                )
                            "  mat-menu-item [disabled]="  element.unitStatus !=
                                                                'Done' ||
                                                            element.signP3U ==
                                                                'Pending' ||
                                                            element.signP3U ==
                                                                'Uploaded'
                            
                     ">
                      
                        <span  >    Resend Signed P3U</span>
                    </button>


                    <button   (click)="
                    printSignedDoc(
                        element.bookCode,
                        'PPPU',
                        'P3U/PPPU'
                    )
                "  mat-menu-item [disabled]="   element.unitStatus !=
                                                                'Done' ||
                                                            element.signP3U ==
                                                                'Pending' ||
                                                            element.signP3U ==
                                                                'Uploaded'
                                                        "
                            
                     >
                      
                        <span  >     Print Signed P3U</span>
                    </button>
            
                                        </mat-menu>
                                    </div>
                                </div>
                        
                                
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="signAkad">
                            <th mat-header-cell *matHeaderCellDef style="width: 400px;text-align: center;background-color: #f2f2f2;"> Sign Ol & Akad</th>
                            <td mat-cell *matCellDef="let element" >
                           
                                <div style="display:flex ;gap: 1px;">
                                    <div style="display: flex;flex-direction: column;flex: 2px;">

                                    @if(element.signAkad==="Complete"){
                                        <div style="width: 150px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-success">{{ element.signAkad }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                    }@else {
                                        <div style="width: 150px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-danger">{{ element.signAkad }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                        <!-- <div style="width: 550px; display: flex;justify-content: center;">
    
                                            <div style="width: 750px;background-color: #f4516c;display: flex; justify-content: center;color: white;border-radius: 10px;width: 60px;"><p style="color: white;    padding: 1px 10px;">{{ element.unitStatus }}</p></div> 
                                        </div> -->
                                    }
                                    </div>
                                    <div style="flex: 2px;display: flex;align-items: center;">

                                        <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                            <i class="ri-menu-line"></i>
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                        <mat-menu #menu="matMenu" >
                                                    <button  (click)="
                                                    resendEmailDoc(
                                                        element.memberCode,
                                                        element.bookCode,
                                                        'OLN2',
                                                        'OL & Akad',
                                                        element.email,
                                                        element.name,
                                                        false
                                                    )
                                                "
                                                         mat-menu-item  [disabled]="    element.unitStatus !=
                                                         'Done' ||
                                                     bankTermValidation(
                                                         element.termRemarks,
                                                         element.bankName,
                                                         element.unit
                                                     ) ||
                                                     element.signAkad ==
                                                         'Pending'">
                                                    
                                                        <span > 
                                                            Resend OL & Akad
                                                            </span>
                                                    </button>
                                                
                                           


                                                    <button   (click)="printOLAkad(
                                                        element.bookCode
                                                    )"
                                                    mat-menu-item [disabled]="
                                                    element.unitStatus !=
                                                    'Done' ||
                                                bankTermValidation(
                                                    element.termRemarks,
                                                    element.bankName,
                                                    element.unit
                                                ) ||
                                                element.signAkad ==
                                                    'Complete'
                                                   ">
                                                
                                                    <span > Print OL & Akad</span>
                                                </button>
                                            <button  (click)="uploadSignatureModalConfirmlatter(
                                                element.bookCode,
                                                'OLN2',
                                                'OL & Akad'
                                            
                                            
                                                     )"  mat-menu-item [disabled]="
                                                     element.unitStatus !=
                                                     'Done' ||
                                                 element.signAkad ==
                                                     'Pending' ||
                                                 element.signAkad ==
                                                     'Complete'
                                                
                                                ">
                                              
                                                <span  >  Upload OL & Akad</span>
                                            </button>
                                            <button    (click)="
                                            resendEmailDoc(
                                                element.memberCode,
                                                element.bookCode,
                                                'OLN2',
                                                'OL & Akad',
                                                element.email,
                                                element.name,
                                                true
                                            )
                                        "  mat-menu-item [disabled]="   element.unitStatus !=
                                                                'Done' ||
                                                            bankTermValidation(
                                                                element.termRemarks,
                                                                element.bankName,
                                                                element.unit
                                                            ) ||
                                                            element.signAkad ==
                                                                'Pending' ||
                                                            element.signAkad ==
                                                                'Uploaded'
                                                        "
                                           
                                        >
                                              
                                                <span  >  Resend Signed OL & Akad</span>
                                            </button>
                                            <button   (click)="
                                            printSignedDoc(
                                                element.bookCode,
                                                'OLN2',
                                                'OL & Akad'
                                            )
                                        "  mat-menu-item [disabled]="    element.unitStatus !=
                                                                'Done' ||
                                                            bankTermValidation(
                                                                element.termRemarks,
                                                                element.bankName,
                                                                element.unit
                                                            ) ||
                                                            element.signAkad ==
                                                                'Pending' ||
                                                            element.signAkad ==
                                                                'Uploaded'
                                           
                                        ">
                                              
                                                <span  >  Print Signed OL & Akad</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                    
                                </div>
                                
                                
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="pctPaymentDp">
                            <th mat-header-cell *matHeaderCellDef style="width: 400px;text-align: center;background-color: #f2f2f2;">DP</th>
                            <td mat-cell *matCellDef="let element" >
                           
                                <div style="display:flex ;gap: 1px;">
                                    <div style="display: flex;flex-direction: column;flex: 2px;">

                                    @if(element.pctPaymentDp==="Complete"){
                                        <div style="width: 200px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-success">{{ element.pctPaymentDp }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                    }@else {
                                        <div style="width: 200px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-danger">{{ element.pctPaymentDp }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                            <!-- <div style="width: 550px; display: flex;justify-content: center;">
    
                                            <div style="width: 750px;background-color: #f4516c;display: flex; justify-content: center;color: white;border-radius: 10px;width: 60px;"><p style="color: white;    padding: 1px 10px;">{{ element.unitStatus }}</p></div> 
                                        </div> -->
                                    }
                                    </div>
                                    <div style="flex: 2px;display: flex;align-items: center;">

                                        <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                            <i class="ri-menu-line"></i>
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                        <mat-menu #menu="matMenu" >
                                                    <button  (click)="
                                                    showModalDp(
                                                        element.projectID,
                                                        element.bookCode,
                                                        element.bookingHeaderID,
                                                        'dp',
                                                        ' DP'
                                                    )
                                                "
                                                         mat-menu-item  [disabled]="element.unitStatus !=
                                                         'Done' ||
                                                     statusDP(
                                                         element.pctPaymentDp,
                                                         'Complete'
                                                     ) ||
                                                     element.bookingHeaderID ==
                                                         null">
                                                    
                                                        <span > 
                                                            Pay Online DP
                                                            </span>
                                                    </button>
                                                
                                           


                                                    <button   (click)="
                                                    showModalsendPaymentInstruction(
                                                        element.bookCode,
                                                        'dp',
                                                        ' DP/Down Payment',
                                                        element.email,
                                                        element.name,
                                                        element.memberCode,
                                                        element.orderCode
                                                    )
                                                "
                                                
                                                    mat-menu-item  [disabled]="   element.unitStatus !=
                                                    'Done'">
                                                
                                                    <span > Send Payment Instruction DP</span>
                                                </button>
                                            <button  (click)="
                                            resendDPReceipt(
                                                element.bookCode,
                                                element.email,
                                                element.name
                                            )
                                        " mat-menu-item [disabled]="    element.unitStatus !=
                                                                'Done' ||
                                                            !statusDP(
                                                                element.pctPaymentDp,
                                                                'Complete'
                                                            )
                                           
                                        ">
                                              
                                                <span  >  Resend DP Receipt</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                    
                                </div>
                                
                                
                                </td>
                        </ng-container>
                        <ng-container matColumnDef="document">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;"> Document</th>
                            <td  mat-cell *matCellDef="let element"> 
                                <div style="display:flex ;gap: 1px;">
                                    <div style="display: flex;flex-direction: column;flex: 2px;">
                                    @if( element.document==="Complete"){
                                        <div style="width: 150px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-success">{{  element.document }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                    }@else {
                                        <div style="width: 150px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-danger">{{  element.document }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                        <!-- <div style="width: 550px; display: flex;justify-content: center;">
                                            
                                            <div style="width: 750px;background-color: #f4516c;display: flex; justify-content: center;color: white;border-radius: 10px;width: 60px;"><p style="color: white;    padding: 1px 10px;">{{ element.unitStatus }}</p></div> 
                                    </div> -->
                                }
                                </div>
                                <div style="flex: 2px;display: flex;align-items: center;">
                                    
                                    <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                        <i class="ri-menu-line"></i>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </div>
                                    <mat-menu #menu="matMenu" >
                                        <button  
                                        (click)="openDialog(element.psCode,element.bookingHeaderID,element.ppNo,element.priorityPassId)"
                                        
                                        mat-menu-item  [disabled]="    element.bookingHeaderID ==
                                                     null&&element.ppNo==null">
                                                
                                                <span > 
                                                    Upload Document
                                                </span>
                                            </button>
                                            
                                            
                                            
                                            
                                            <button  
                                            [disabled]="
                                            element.bookingHeaderID ==
                                            null"
                                             (click)="
                                             historyViewDocumentModal(
                                                 element.bookingHeaderID,
                                                 element.psCode,
                                                 element.ppNo
                                             )
                                         "
                                                mat-menu-item  >
                                                
                                                <span > History View Document</span>
                                            </button>
                                       
                                        </mat-menu>
                                </div>
                                
                            </div>
                            </td>
                        </ng-container>
                        <!-- Confirmation latter -->
                        <ng-container matColumnDef="confirmationlatter">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;"> Confirmation Latter</th>
                            <td  mat-cell *matCellDef="let element"> 
                                <div style="display:flex ;gap: 1px;">
                                    <div style="display: flex;flex-direction: column;flex: 2px;">
                                    @if( element.confirmationLetter =="Complete"){
                                        <div style="width: 150px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-success">{{  element.confirmationLetter }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                    }@else {
                                        <div style="width: 150px;display: flex; justify-content: center;">
                                            <mat-card-content class="example-badges" >
                                                
                                                <span class="badge text-bg-danger">{{  element.confirmationLetter }}</span>
                                                
                                            </mat-card-content>
                                        </div>
                                        <!-- <div style="width: 550px; display: flex;justify-content: center;">
                                            
                                            <div style="width: 750px;background-color: #f4516c;display: flex; justify-content: center;color: white;border-radius: 10px;width: 60px;"><p style="color: white;    padding: 1px 10px;">{{ element.unitStatus }}</p></div> 
                                    </div> -->
                                }
                                </div>
                                <div style="flex: 2px;display: flex;align-items: center;">
                                    
                                    <div [matMenuTriggerFor]="menu" style="cursor: pointer;display: flex;">

                                        <i class="ri-menu-line"></i>
                                        <i class="ri-arrow-down-s-line"></i>
                                    </div>
                                    <mat-menu #menu="matMenu" >
                                        <button  
                                        (click)="printConfirmationLatter(element.bookCode)"
                                        
                                        mat-menu-item  [disabled]="element.unitStatus !=
                                        'Done'">
                                                
                                                <span > 
                                                    Print Confirmation Latter
                                                </span>
                                            </button>
                                            
                                            
                                            
                                            
                                            <button  
                                            [disabled]="
                                            element.unitStatus !=
                                            'Done' ||
                                        element.document !=
                                            'Complete'"
                                             (click)="
                                             uploadSignatureModalConfirmlatter(
                                                element.bookCode,
                                                'CL',
                                                'Confirmation Letter'
                                             )
                                         "
                                                mat-menu-item  >
                                                
                                                <span > Upload Confirmation Latter</span>
                                            </button>
                                       
                                        </mat-menu>
                                </div>
                                
                            </div>
                            </td>
                        </ng-container>
                        <!-- Done -->
                        <ng-container matColumnDef="eligibleCommPct" >
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;background-color: #f2f2f2;">My Commision </th>
                            <td  mat-cell *matCellDef="let element"> 
                               
                            <div style="display: flex;flex-direction: column;">
                                <div (click)="openDialog2(element.bookingHeaderID,element.bookCode,element.memberCode,'admin')"style="width: 180px;display: flex;justify-content: center;flex-direction: column;">
                                    <div style="width: 180px;display: flex;justify-content: center">

                                        
                                        <button mat-raised-button color="primary">My Commision</button>
                                    </div>
                                    <div style="width: 180px;display: flex;justify-content: center;margin-top: 5px;"><p>My Eligible Commission</p></div>
                                    
                                    <div style="width: 180px;display: flex;justify-content: center"><p>  ({{
                                        element.eligibleCommPct != null
                                        ? element.eligibleCommPct
                                        : element.percentKomisiPaid
                                    }}) {{
                                    element.eligibleCommAmount !=
                                    null
                                    ? (element.eligibleCommAmount
                                          | currency
                                              : "Rp. "
                                              : true
                                              : "0.0-0")
                                        : (element.totalKomisiPaid
                                          | currency
                                              : "Rp. "
                                              : true
                                              : "0.0-0")
                                }} </p></div>
                                  
                                
                            </div>
                            <!-- <button mat-raised-button (click)="openDialog2(element.bookingHeaderID,element.bookCode,element.memberCode,'admin')">My Commision</button> -->
                        </div>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                
                    <!-- <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" [pageSize]="pageSize" (page)="onLogin()">
                    </mat-paginator> -->
                    <!-- <mat-paginator   [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="totalItems" (page)="onPageChange($event)" >

                    </mat-paginator> -->
                    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="totalItems" (page)="onPageChange($event)"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
     </mat-paginator>
                   
                </div>
                
                </mat-card-content>
               <!-- settings.component.html -->
               <!-- <app-customizer-settings ></app-customizer-settings> -->
  
            </mat-card>
           