.formron{
    height: 100px;
}
table{
    width: 100%;
   }
   
   .mat-column-username {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 28% !important;
     width: 28% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-emailid {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 25% !important;
     width: 25% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-contactno {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 17% !important;
     width: 17% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-userimage {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 8% !important;
     width: 8% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   tr:nth-child(odd) {
    background-color: #EEEFF5; /* Ganti warna sesuai keinginan Anda */
}
/* CSS */
// th {
//   background-color: blue; /* Ganti warna sesuai keinginan Anda */
//   color: white; /* Untuk memastikan teks terlihat jelas di atas latar belakang biru */
// }

   .mat-column-userActivity {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }


   .flex-column {
    display: flex;
    flex-direction: column;
  
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-columnrt {
    display: flex;justify-content: center;padding: 35px;padding-top: 55px;margin-top: -5px;position: relative; height: 50%;
  
  }
  
  .flex-rowrt {
    display: flex;justify-content: center;padding: 35px;padding-top: 55px;margin-top: -50px;position: relative; height: 50%;
  }